@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --color-primary: hsl(327, 96%, 54%);
    --color-primary-l: hsl(344, 96%, 64%);
    --color-primary-d: hsl(344, 96%, 44%);
    --color-text: hsl(0, 0%, 96%);
    --color-text-d: hsl(0, 0%, 10%);
    --color-text-shadow: hsl(0, 60%, 34%);
    --font: 'Poppins'
}

* {
    margin: 0;
    transition: 1.5s;
}

html {
    font: 16px/1.6 var(--font), system-ui, sans-serif;
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    text-shadow: 1px 1px 1px var(--color-text-d);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

p {
    margin-bottom: 1.5rem;
}

.nav {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.icon {
    display: inline-grid;
    place-items: center;
    width: 24px;
    height: 24px;
    margin: 0.15rem;
    fill: var(--color-text);
}

.icon-text {
    display: none;
}

.button {
    display: inline-flex;
    padding: 0.75rem 1rem;
    border-radius: 2.5rem;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}

.title {
    line-height: 1.3;
}

.subtitle {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
}

[type="radio"] {
    display: none;
}

[type="radio"]:nth-child(1):checked~nav .button:nth-child(1),
[type="radio"]:nth-child(2):checked~nav .button:nth-child(2),
[type="radio"]:nth-child(3):checked~nav .button:nth-child(3),
[type="radio"]:nth-child(4):checked~nav .button:nth-child(4) {
    color: var(--color-text-d);
    text-shadow: none;
    background: var(--color-primary);
}

[type="radio"]:nth-child(1):checked~nav .button:nth-child(1) .icon,
[type="radio"]:nth-child(2):checked~nav .button:nth-child(2) .icon,
[type="radio"]:nth-child(3):checked~nav .button:nth-child(3) .icon,
[type="radio"]:nth-child(4):checked~nav .button:nth-child(4) .icon {
    fill: var(--color-text-d);
}

[type="radio"]:nth-child(1):checked~.main .slide:nth-child(1),
[type="radio"]:nth-child(2):checked~.main .slide:nth-child(2),
[type="radio"]:nth-child(3):checked~.main .slide:nth-child(3),
[type="radio"]:nth-child(4):checked~.main .slide:nth-child(4) {
    opacity: 1;
    clip-path: circle(150% at top left);
}

.main {
    background: linear-gradient(rgb(184, 74, 74), black);
    overflow: hidden;
    min-height: 100vh;
}

.slides {
    display: flex;
}

.slide {
    position: absolute;
    inset: 0;
    flex: 1 0 100vw;
    opacity: 0;
    clip-path: circle(0 at top left);
    transition: 0.75s;
}

.slide:nth-child(1) {
    background: url('https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat left center/cover;
}

.slide:nth-child(2) {
    background: url('https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center/cover;
}

.slide:nth-child(3) {
    background: url('https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center/cover;
}

.slide:nth-child(4) {
    background: url('https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center/cover;
}

.slide__content {
    padding: 1rem;
    background: #0009;
    height: 100%;
    color: smoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 640px) {
    .icon-text {
        display: initial;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px
    }

    .slide__content {
        padding: 2rem 4rem;
    }

    .title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 960px) {
    .slide__content {
        padding: 2rem 8rem;
    }
}

@media screen and (min-width: 1280px) {
    .slide__content {
        padding: 2rem 12rem;
    }
}
